
h1, h2 {
	color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

.text {
  text-align: center;
}

.large {
  font-size: 5rem;
}
.content {
  margin-left: 37%;
  margin-right: 40%;
  align-content: center;
}

.red {
  color: red;
}
.green {
  color: green;
}
